.x-wrapper {
    padding: 10px;
}
.x-grid-wrapper {
    height: 400px;
    overflow: auto;
}
.x-pager {
    display: flex;
}

.x-grid .-selected td{
    background: lightseagreen;
    color: white;
}

.x-page-size {
    width: 70px;
    margin-left: 15px;
}

.nav-link.active {
    color: dodgerblue !important;
}